@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  --hue: 00A66A;
  --primary-color: #00a66a;
  --secondary-color: #f04b25;
  --second-bg: #f1f5f7;
  --main-gradient: linear-gradient(to right, #00a66a, #f04b25);
  --trans-dur: 0.6s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
  --theme-background: 255, 255, 255;
  --theme-color: #111827;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(var(--theme-background), 1);
  color: var(--theme-color);
  transition: background-color var(--trans-dur), color var(--trans-dur);
  overflow-x: hidden;
  font-family: "Cairo", sans-serif !important;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}
input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.main_content {
  margin-top: 96px;
}

/* Start Header */
.main-header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  background-image: url("../assests/home-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 125px;
}

/* Start Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--trans-dur) var(--trans-timing);
  z-index: 999;
}

nav.scrolling {
  background-color: rgba(var(--theme-background), 0.1);
  backdrop-filter: blur(5px);
  top: -45px;
}

nav .top-navbar {
  background: var(--primary-color);
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .brand {
  padding-top: 2rem !important;
  display: flex;
  align-items: center;
  gap: 20px;
}
nav.scrolling .navbar .brand {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(var(--theme-background), 0.1);
  backdrop-filter: blur(5px);
}

.logo {
  display: block;
  max-width: 140px;
}

.logo img {
  width: 100%;
}

.navbar .links a {
  font-weight: bold;
}

.navbar .navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navbar .navbar-buttons a,
.custom-button {
  padding: 0.5em 0.7em;
  text-decoration: none;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--primary-color);
  z-index: 1;
}

.navbar .navbar-buttons a::before,
.navbar .navbar-buttons a::after,
.custom-button::before,
.custom-button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--primary-color);
  transition: 0.6s ease;
}

.navbar .navbar-buttons a::before,
.custom-button::before {
  top: -1em;
  left: -1em;
}

.navbar .navbar-buttons a::after,
.custom-button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.navbar .navbar-buttons a:hover::before,
.navbar .navbar-buttons a:hover::after,
.custom-button:hover::before,
.custom-button:hover::after {
  height: 410px;
  width: 410px;
}

.navbar .navbar-buttons a:hover,
.custom-button:hover {
  color: #fff;
}

.navbar .navbar-buttons a:active,
.custom-button:active {
  filter: brightness(0.8);
}

/* Burger Button */
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 75px;
}

.line {
  fill: none;
  stroke: var(--theme-color);
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

/* Responsive */
@media screen and (max-width: 767.98px) {
  .main-header {
    width: auto;
    height: auto;
  }

  .navbar .brand {
    flex-grow: 1;
    justify-content: space-between;
  }

  .logo {
    width: 90px;
  }
  .navbar .links {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    transform: translateY(-400px);
    opacity: 0;
    transition: var(--trans-dur) var(--trans-timing);
  }
  .navbar .links.opened {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Start Main Section */
main.main-section {
  width: 100vw;
  height: calc(100vh - 125px);
}
main.main-section .container,
main.main-section .row {
  height: 100%;
  position: relative;
}

.main-section .home-banner img {
  width: 150%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-section h1 {
  font-weight: 800;
}
.main-section p {
  font-size: 1.3rem;
  line-height: 1.6;
  opacity: 0.7;
}

/* Responsive */
@media screen and (max-width: 991.98px) {
  .main-section .row {
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 10px;
  }

  .main-section .home-banner img {
    width: 100%;
  }

  .main-section h1,
  .main-section p {
    padding: 0.5rem;
  }
}
/* End Main Section */

/* Start Features Section */
section.features {
  padding: 3rem 0;
  background-color: var(--second-bg);
}
section .section-title h4 {
  font-weight: 700;
  font-size: 1.7rem;
}
section .section-title p {
  width: 100%;
  max-width: 600px;
  font-size: 1.1rem;
  opacity: 0.7;
}
.features-box {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  padding: 1rem;
  background: rgba(var(--theme-background), 1);
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: var(--trans-dur) var(--trans-timing);
}
.features-box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.features-box .box-icon img,
.all-features .all-features-box img,
.pricing-table img {
  filter: drop-shadow(0px 0px 0px var(--primary-color));
}
.features-box .box-content h5 {
  font-weight: 800;
  margin-top: 1rem;
}
.features-box .box-content p {
  opacity: 0.7;
  font-weight: 600;
}
/* Start Responsive */
@media screen and (max-width: 991.98px) {
  .features-box {
    align-items: center;
  }
}
/* End Features Section */

/* Start Overview Section */
.overview {
  position: relative;
  background-image: url(../assests/pattern1.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.overview > section {
  padding: 5rem 0;
}
.overview > section:nth-child(2) {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgb(237 237 237 / 70%) 10%,
    rgb(237 237 237 / 70%) 90%,
    transparent 100%
  );
}
.overview h2 {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.overview h4 {
  font-weight: 700;
}
.overview ul {
  list-style: none;
}
.overview ul li {
  margin: 1rem 0;
  font-weight: 600;
  color: #000;
  opacity: 0.8;
  position: relative;
}
.overview ul li::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23F04B25"><path d="M12 21c-.26 0-.51-.1-.71-.29a.996.996 0 0 1 0-1.41l7.29-7.29-7.29-7.29a.996.996 0 1 1 1.41-1.41l8 8c.39.39.39 1.02 0 1.41l-8 8c-.2.2-.45.29-.71.29ZM4 21c-.26 0-.51-.1-.71-.29a.996.996 0 0 1 0-1.41l7.29-7.29-7.29-7.3A.996.996 0 1 1 4.7 3.3l8 8c.39.39.39 1.02 0 1.41l-8 8c-.2.2-.45.29-.71.29Z"></path></svg>');
  position: absolute;
  top: 3px;
  left: -25px;
  width: 20px;
  height: 20px;
}
.overview .img-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 1rem 1px rgb(0 0 0 / 11%);
  object-fit: cover;
}
.overview a {
  display: inline-block;
}
/* Start Responsive */
@media screen and (max-width: 991.98px) {
  .overview > section {
    padding: 3rem;
  }
  .overview > section .row {
    gap: 2rem;
  }
  .overview > section:not(:nth-child(2)) .row {
    flex-direction: column-reverse;
  }
}
/* End Overview Section */

/* Start All Features Section */
.all-features {
  padding: 5rem 0;
  background-color: var(--second-bg);
}
.all-features .section-title h4 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.all-features .all-features-box {
  padding: 2rem;
  border-radius: 0.75rem;
  margin: 1rem 0;
  background: rgba(var(--theme-background), 1);
  position: relative;
  z-index: 0;
  height: 255px;
  max-height: 255px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.all-features .all-features-box:hover {
  padding: 1rem;
}
.all-features .all-features-box:hover img {
  display: none;
}
.all-features .all-features-box h5 {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 700;
}
.all-features .all-features-box p {
  font-size: 16px;
  margin-bottom: 0;
  display: -webkit-box !important;
  max-width: 200px;
  -webkit-line-clamp: 2;
  min-height: 46px;
  max-height: 53px;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.all-features .all-features-box:hover h5 {
  color: rgba(var(--theme-background), 1);
}
.all-features .all-features-box:hover p {
  color: #fff;
  max-height: none;
  overflow: initial;
  display: block !important;
  -webkit-line-clamp: initial;
  max-width: none;
}
.all-features .all-features-box:after {
  content: "";
  border-radius: 0.75rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: var(--primary-color);
  z-index: -1;
  transition: height 0.2s;
}
.all-features .all-features-box:hover:after {
  height: 100%;
}
/* End All Features Section */

/* Start Pricing Section */
.pricing {
  padding: 5rem 0;
}
.pricing .section-title h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}
.pricing .section-title p {
  margin-inline: auto;
}
.pricing-content {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.pricing-content .pricing-table {
  flex: 1;
  background: #fff;
  padding: 0;
  border-radius: 1rem;
  border: 3px solid #f0f0f0;
  min-width: 250px;
}
.pricing-table .table-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pricing-table .table-header h3 {
  font-weight: 700;
  white-space: nowrap;
}
.pricing-table .table-body ul {
  list-style: none;
}
.pricing-table .table-body ul li {
  padding: 0.75rem;
  padding-left: 2.5rem;
  position: relative;
  font-weight: 600;
  color: #394066;
  white-space: nowrap;
}
.pricing-table .table-body ul li:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}
.pricing-table .table-body ul li:not(.disabled)::before {
  content: url(../assests/check-circle.svg);
}
.pricing-table .table-body ul li.disabled::before {
  content: url(../assests/close-circle.svg);
}
.pricing-table .table-body ul li.disabled {
  color: var(--bs-danger);
}
.pricing-table .table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1rem;
  border-top: 2px solid #f0f0f0;
  padding: 1rem;
}
.pricing-table .table-footer .price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.pricing-table .table-footer .price span {
  font-size: 3rem;
  font-weight: 800;
}
.pricing-table .table-footer .price small {
  margin-bottom: 10px;
  color: #bbbec2;
  font-size: 1.2rem;
}

/* End Pricing Section */
